<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/png"href="http://www.cap.org.pe/cap/images/stories/icon_web1/1326926743_191.png" />
	<title>UnearthWorks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../stylesheets/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
</head>

<body>

	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">UnearthWorks</a>
		</div>
		<div class="navbar-collapse collapse ">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="">About Us</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				{% if user %}
				<ul class="nav nav-sidebar">
					<span> Welcome, {{ nickname }}. </span>
					<li><a href="/">Home</a></li>
					<li><a href="/genre">Stories</a></li>
					<li><a href="{{  logout  }}">Logout</a></li>
				</ul>
				{% else %}
					<p>To view the sidebar,</p>
					<a href="/signin/"><img src="../images/google_signin.png"></a>
					
				{% endif %}
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1>About us</h1>
				<p>Nowadays, the online writing community is getting increasingly popular. There are many websites providing a platform for writers to write and share, but no websites that compile and organizes these precious resources online. Hence, many great works are being buried.</p>
				<p>Thus, our mission is to unearth them!</p>
				<p>Join the UnearthWorks community now. <button type="button" class="btn btn-primary" href="#">Sign Up</button></p>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src = "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script type='text/javascript'>

		$(document).ready(function() {

			$(".alert").addClass("in").fadeOut(4500);

			/* swap open/close side menu icons */
			$('[data-toggle=collapse]').click(function(){
  	// toggle icon
  	$(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
  });

		});

		</script>
	</body>
	</html>
