<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/png"href="http://www.cap.org.pe/cap/images/stories/icon_web1/1326926743_191.png" />
	<title>UnearthWorks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../stylesheets/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
</head>

<body>

	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">UnearthWorks</a>
		</div>
		<div class="navbar-collapse collapse ">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/aboutus">About Us</a></li>
				<li class="active"><a href="">FAQ</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<p><a href="/login/faq">Log in with <img src="../images/google.png">  to view sidebar. </a></p>
			</div>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1><b>Frequently Asked Questions</b></h1>
			
			<blockquote>
			<h4><a href="#line1">Copyright Issue</a></h4>
			<h4><a href="#line2">Compilation</a></h4>
			<h4><a href="#line3">Difference between Unearthworks and other websites</a></h4>
			<h4><a href="#line4">Story Datasource</a></h4>
			</blockquote>
			
			<h3 id="line1">Copyright Issue</h3>
			<p>There will not be any copyright issue involved because we will only provide the links to where the stories are uploaded rather than directly hosting the stories on our website.
			</p>
			<a href="#">back to top</a>
			<h3 id="line2">Compilation</h3>
			<p>We are going to do the compilation. Although this may sound tedious, the concept of Unearthworks is recommending quality fanfictions to the online community. The problem being, there exist many low quality stories out online, such as those with poor grammar and spelling as well as storyline. What Unearthworks does is pick out those stories that are of better quality based on our <a href="https://docs.google.com/document/d/1Polv_ts_PQ-USN84qF7cqyouiK-T_30BHSZ85agtMSI/edit">Sample Rubric</a> and categorise them to allow users to find them easily. Due to the limitation that we are filtering out the higher quality fanfictions, there is a need for manual compilation instead of automated ones. 
			</p>
			<a href="#">back to top</a>
			<h3 id="line3">Difference between Unearthworks and other websites</h3>
			<p>Till date, there are no existing websites that recommend quality fanfictions and arrange them according to the different genres. There are only a couple of blog posts about the personal preference/favourites of the blog owners. As an avid reader of fanfictions, we find it a hassle to have to browse through a large number of fanfics in order to search for good quality ones, hence the need for websites such as Unearthworks. 
			</p>
			<a href="#">back to top</a>
			<h3 id="line4">Story Datasource</h3>
			<p>We will get our database from the two biggest fanfictions websites, namely, <a href="www.asianfanfics.com">Asianfanfics</a> and <a href="www.livejournal.com">Live Journal</a>.</p>
			<a href="#">back to top</a>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src = "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type='text/javascript'>

	$(document).ready(function() {

		$(".alert").addClass("in").fadeOut(4500);

		/* swap open/close side menu icons */
		$('[data-toggle=collapse]').click(function(){
  	// toggle icon
  	$(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
  });

	});

	</script>
</body>
</html>
