<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/png"href="http://www.cap.org.pe/cap/images/stories/icon_web1/1326926743_191.png" />
	<title>UnearthWorks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../stylesheets/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
</head>

<body>

	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">UnearthWorks</a>
		</div>
		<div class="navbar-collapse collapse ">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/aboutus">About Us</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				{% if user %}
				<ul class="nav nav-sidebar">
					<span> Welcome, {{ nickname }}. </span>
					<li><a href="/">Home</a></li>
					<li><a href="/genre">Stories</a></li>
					<li><a href="{{  logout  }}">Logout</a></li>
				</ul>
				{% else %}
				<p>To view the sidebar,</p>
				<a href="/signin/"><img src="../images/google_signin.png"></a>

				{% endif %}
			</div>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			
			<div class="jumbotron">
				<p><span style="font-family:arial;"><span style="font-size:22px;"><span style="color:#00cc99;"><span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent;">❥</span></span></span></span><span style="color: rgb(0, 204, 153); font-family: arial; font-size: 22px; line-height: 35.20000076293945px;">❥</span><span style="font-family:arial;"><span style="font-size:22px;"><strong><span style="color:#00cc99;">Featured Story:</span></strong></span></br>
					<u><font color="#000000" size="4">Kyuhyun..it&#39;s been hard on you</font></u><br />
					<span style="font-size: 12px;"><span style="color:#00cc99;">by</span><span style="color:#000000;"><span style="font-size:18px;">&nbsp;janie6789</span></span><br />
					<span style="font-size:18px;"><span style="font-size:12px;"><span style="color:#00cc99;">Characters:</span><span style="font-size:18px;"><span style="color:#000000;">&nbsp;Kyuhyun, Super Junior, Manager, SM trainees</span></span></span></span></span></span><br />
					<span style="color:#000000;"><span style="font-size:18px;"><span id="docs-internal-guid-f1bc78c9-7826-6229-3796-8760fdfadfc7"><span style="font-family: Arial; vertical-align: baseline; white-space: pre-wrap;">Kyuhyun has had to go through an impossible amount of hardships - from being the newcomer...</span></span></span></span></p>
				</div></br>

				<p><span style="font-family:arial;"><span style="font-size:36px;"><strong><span style="color:#00cc99;">Genre</span></strong></span></span></p>
				<ul class="list-inline">

					<li><a href="/genre/comedy"><h4>Comedy</h4></a></li>
					<li><a href="/genre/slice-of-life"><h4>Slice of Life</h4></a></li>
					<li><a href="/genre/romance"><h4>Romance</h4></a></li>
					<li><a href="/genre/ratings"><h4>View all stories by ratings</h4></a></li></br>	

				</ul>

			</div>
		</div>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src = "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script type='text/javascript'>

		$(document).ready(function() {

			$(".alert").addClass("in").fadeOut(4500);

			/* swap open/close side menu icons */
			$('[data-toggle=collapse]').click(function(){
  	// toggle icon
  	$(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
  });

		});

		</script>
	</body>
	</html>
