<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/png"href="http://www.cap.org.pe/cap/images/stories/icon_web1/1326926743_191.png" />
	<title>UnearthWorks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../stylesheets/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
</head>

<body>

	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="">UnearthWorks</a>
		</div>
		<div class="navbar-collapse collapse ">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/login/aboutus">About Us</a></li>
				<li><a href="/login/faq">FAQ</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<span> Welcome, {{ nickname }}. </span>
					<li><a href="">Home</a></li>
					<li><a href="/login/genre">Stories</a></li>
					<li><a href="{{  logout  }}">Logout</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div class="row">
					<div class="col-md-8">
						<div class="jumbotron">
							<p>Can't find good fanfictions online? Or ran out of good fanfictions to read?</p>

							<p>UnearthWorks recommends only quality fanfictions. </p>

							<p>Start searching for stories now! <button type="button" class="btn btn-primary" href="#">Get Started</button></p>
						</div>
					</div>
					<div class="text-left col-md-3">
						<div class="panel" id="Hall-of-Fame">
							<a href="#" class="panel-title">Hall of Fame</a>
							<ol>
								<li><a href="">Top Story</a></li>
								<li><a href="">One more nav</a></li>
								<li><a href="">Another nav item</a></li>
								<li></li>
								<li><a href="">One more nav</a></li>
								<li><a href="">Another nav item</a></li>
								<li></li>
								<li><a href="">One more nav</a></li>
								<li><a href="">Another nav item</a></li>
								<li></li>
							</ol>
						</div>
						<div class="panel" id="Hall-of-Hell">
							<a href="#" class="panel-title">Hall of Hell</a>
							<ol>
								<li><a href="">Most Horrible Story</a></li>
								<li><a href="">Second most Horrible</a></li>
								<li><a href="">Another nav item</a></li>
								<li></li>
								<li><a href="">One more nav</a></li>
								<li><a href="">Another nav item</a></li>
								<li></li>
								<li><a href="">One more nav</a></li>
								<li><a href="">Another nav item</a></li>
								<li></li>
							</ol>
						</div>

					</div>
				</div>


			</div>
		</div>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src = "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script type='text/javascript'>

		$(document).ready(function() {

			$(".alert").addClass("in").fadeOut(4500);

			/* swap open/close side menu icons */
			$('[data-toggle=collapse]').click(function(){
  	// toggle icon
  	$(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
  });

		});

		</script>
	</body>
	</html>
