<!DOCTYPE html>
<html>

<head>
	<style type="text/css">
	input#submitlink {
		background: transparent;
		border: 0;
		cursor:pointer;
		margin: 0;
		padding: 0;
		text-decoration: underline;
	}

	input#submitlink:visited {
		color: #505abc;
	}

	input#submitlink:hover {
		text-decoration: none;
	}

	input#submitlink:active {
		color: #12eb87;
	}
	</style>
	<link rel="icon" type="image/png"href="http://www.cap.org.pe/cap/images/stories/icon_web1/1326926743_191.png" />
	<title>UnearthWorks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../stylesheets/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
</head>

<body>

	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">UnearthWorks</a>
		</div>
		<div class="navbar-collapse collapse ">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/aboutus">About Us</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<p><a href="/login/faq">Log in with <img src="../images/google.png">  to view sidebar. </a></p>
			</div>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1>{{  genre  }} stories</h1>
			{% for story in query %}
			<div>
				<form action="/genre/submit" method="post">
					<h3>
						<input type="hidden" name="k" value="{{  story.key()  }}">
						<input id="submitlink" type="submit" value="{{  story.title  }}">
					</h3>
				</form>
				<ul>
					<li>{{  story.author  }}</li>
					<li>{{  story.rating}}</li>
					<li>{{  story.desc  }}</li>
					<li>{{  story.editor  }}</li>
					<li>{{  story.link  }}</li>
					<li>{{  story.status  }}</li>
					<li>{{  story.genre  }}</li>
					<li>{{  story.characters  }}</li>
				</ul>
			</div>
			{% endfor %}
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src = "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type='text/javascript'>

	$(document).ready(function() {

		$(".alert").addClass("in").fadeOut(4500);

		/* swap open/close side menu icons */
		$('[data-toggle=collapse]').click(function(){
  	// toggle icon
  	$(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
  });

	});

	</script>
</body>
</html>
